fastapi
uvicorn
pydantic
sqlalchemy
alembic
asyncpg
psycopg2-binary
pydantic-settings
pyjwt[crypto]
bcrypt
pydantic[email]
python-jose
redis==6.2.0
ffmpeg==1.4
minio
python-multipart
celery[redis]
aiofiles

